<?xml version="1.0"?>
<robot name="engineer" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="chassis_motors" type="system">
        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-1</param>
            <param name="cmd_id">0x200</param>
        </hardware>

        <joint name="chassis_left_front">
            <param name="motor_id">2</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="chassis_left_back">
            <param name="motor_id">3</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="chassis_right_front">
            <param name="motor_id">1</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="chassis_right_back">
            <param name="motor_id">4</param>
            <param name="motor_type">m3508</param>
        </joint>

    </ros2_control>

    <ros2_control name="rescue_motors" type="system">

        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-1</param>
            <param name="cmd_id">0x1FF</param>
        </hardware>

        <joint name="rescue_left">
            <param name="motor_id">5</param>
            <param name="motor_type">m2006</param>
        </joint>

        <joint name="rescue_right">
            <param name="motor_id">5</param>
            <param name="motor_type">m2006</param>
        </joint>

    </ros2_control>

    <ros2_control name="liftup_camera_motors" type="system">

        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-2</param>
            <param name="cmd_id">0x200</param>
        </hardware>

        <joint name="liftup_left">
            <param name="motor_id">1</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="liftup_right">
            <param name="motor_id">2</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="camera">
            <param name="motor_id">3</param>
            <param name="motor_type">m2006</param>
        </joint>

    </ros2_control>

    <ros2_control name="gimbal_spin_motors" type="system">

        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-2</param>
            <param name="cmd_id">0x1FF</param>
        </hardware>

        <joint name="gimbal_left">
            <param name="motor_id">5</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="gimbal_right">
            <param name="motor_id">6</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="spin">
            <param name="motor_id">3</param>
            <param name="motor_type">m6020</param>
        </joint>

    </ros2_control>

    <ros2_control name="gimbal_motors" type="system">

        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-3</param>
            <param name="cmd_id">0x1FF</param>
        </hardware>

        <joint name="gimbal_yaw">
            <param name="motor_id">1</param>
            <param name="motor_type">m6020</param>
        </joint>

        <joint name="gimbal_pitch">
            <param name="motor_id">6</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="gimbal_roll">
            <param name="motor_id">7</param>
            <param name="motor_type">m2006</param>
        </joint>

    </ros2_control>

    <ros2_control name="rotate_motors" type="system">

        <hardware>
            <plugin>gary_hardware/RMMotorSystem</plugin>
            <param name="can_bus">can1-8-3</param>
            <param name="cmd_id">0x200</param>
        </hardware>

        <joint name="rotate">
            <param name="motor_id">1</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="stretch_left">
            <param name="motor_id">2</param>
            <param name="motor_type">m3508</param>
        </joint>

        <joint name="stretch_right">
            <param name="motor_id">3</param>
            <param name="motor_type">m3508</param>
        </joint>

    </ros2_control>

</robot>
